body{
    margin: 0;
    height: 90vh;
    width: 100vw;
    background-color: black;
    border: 2px solid lightcyan;
    position: relative;
    box-sizing: border-box;
  }
  .launcher{
    position: absolute;
    bottom: 0;
    left: 50%;
    height: 3px;
    width: 3px;
    background-color: lime;
  }
  .rocket{
    height: 2vmin;
    width: 2vmin;
    position: absolute;
    background-color: red;
    border-radius: 50%;
  }  	
  .particle{
      position: absolute;
      height: 2vmin;
      width: 2vmin;
      background-color: white;
      border-radius: 50%;
  }
  button{
    position: absolute;
    left: 50%;
    top: 50%;
    transform:translate(-50%, -50%);
  }
  #startButton{
    display: none;
  }
  #loading{
    position: absolute;
    left: 50%;
    top: 75%;
    height: 30%;
    color: fuchsia;
    transform: translate(-50%, -50%);
    z-index: 1;
    font-size: 4vmin;
    text-align: center;
  }

  #joseMessage{
    position: absolute;
    left: 50%;
    top: 15%;
    transform: translateX(-50%);
    text-align: center;
    color: white;
    font-size: 6vmin;
    font-family: 'Shadows Into Light', cursive;
    height: 75%;
  }
  #joseName{
    position: absolute;
    left: 50%;
    top: 50%;
  }
  .spoke{
    position: absolute;
    transform-origin: 0% 50%;
    /* border: white solid 1px; */
    width: 35vmin;
    height: 30px;
    left: 50%;

  }
  .letter{
    position: absolute;
    /* border: 1px solid lime; */
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  
  